/* Sets colors to be displayed when light-mode is turned on */
:root 
{
    --primary-background-color: #f4f3ef;
    --secondary-background-color: #f9f9f7;
    --tertiary-background-color: #eae8e0;
    --primary-text-color: #101010;
    --secondary-text-color: #303030;
}

/* Sets colors to be displayed when dark-mode is turned on*/
.dark-mode 
{
    --primary-background-color: #272822;
    --secondary-background-color: #1e1f1c;
    --tertiary-background-color: #464741;
    --primary-text-color: #f8f8f0;
    --secondary-text-color: #dadada;
}

/* Hides elements for the dark mode version of the sight */
.dark-theme
{
    display: none;
}

/* Displays the colors of the mode set by the modetoggle function */
body
{
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-width: 0;
    font-size: 24px;
}

img
{
    height: 32px;
    width: 32px;
}



/* Sets the header size and internal structure*/
#header
{
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 36px;
    z-index: 999;
    width: 100vw;
    max-width: 100%;
    padding: 10px;
    border-width: 2px;
    border-bottom-color: #111;
    border-bottom-style: solid;
    background-color: var(--secondary-background-color);
}

/* Spacer to move sidebar menu to right side of page, only for use on small screen sizes*/
#header-space-adjuster
{
    display: none;
}


/* Remove bullet points from lists, lists items horizontally */
.header-left, .header-right
{
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.header-left li, .header-right li
{
    margin-left: 5px;
    margin-right: 5px;
}

.header-right
{
    margin-right: 20px;
}

.dropdown 
{
    position: relative;
    display: inline-block;
}

/* Defines the default look of the dropdown menu button */
.dropbtn 
{
    background-color: var(--secondary-background-color);
    padding: 2px;
    border-style: hidden;
    height: min-content;
    width: min-content;
}

/* Removes padding, margin and borders from the menu icon*/
.menu-icon
{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/* Hides dropdown menu by default, makes the background a slightly different color*/
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: var(--tertiary-background-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Displays dropdown menu when the button and menu is hovered over */
.dropdown:hover .dropdown-content 
{ 
    display: flex;
    height: 80px;
    width: 60px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    right: -2px;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn 
{
    background-color: var(--tertiary-background-color);
}

#language-toggle
{
    width: min-content;
    height: min-content;
}


.nav-btn
{
    font-weight: bold;
    font-size: 28px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px none;
    border-radius: 2px;
}

.nav-btn, .menu-btn, .dropbtn
{
    cursor: pointer;
}

.nav-btn:hover
{
    color: var(--secondary-text-color);
    background-color: var(--tertiary-background-color);
}

.icon-btn
{
    
    width: 32px;
    height: 32px;
    padding: 3px;
    border: 1px transparent;
    border-radius: 2px;
    display: inline-block;
}


.icon-btn:hover
{
    background-color: var(--tertiary-background-color);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------*/

/* Empty div sitting behind the fixed header to properly adjust the starting location of the content section*/
#content-space-adjuster
{
    margin: 0;
    padding: 0;
    border: 0;
    height: 58px;
}

#content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color);
    width: 100vw;
    max-width: 100%;
    height: calc(100vh - 58px);
    overflow: hidden;

}

.inner-content
{
    display: flex;
    height: 400px;
    width: 700px;
    padding: 10px;
    background-color: var(--primary-background-color);
}

#contact-form
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
}

.contact-inputs
{
    margin: 5px;
    width: 500px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--tertiary-background-color);
    color: var(--primary-text-color);
}

#message-textarea
{
    height: 200px;
    text-wrap: wrap;
    padding: 10px;
    scrollbar-width: thin;
}

.contact-inputs:focus
{
    border: 2px solid #222;
}

#submit-button
{
    width: 100px;
    padding: 2px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    height: 32px;
    margin-top: 10px;
    background-color: var(--tertiary-background-color);
    color: var(--primary-text-color);
    text-align: center;
    cursor: pointer;

}

#submit-button-img
{
    width: 25PX;
    height: 25PX;
    vertical-align: middle;
    padding-left: 4px;
    
}

#footer-container
{
    height: 12px;
    width: 100vw;
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--secondary-background-color);
}


/* Default styles */
#sidebar-menu-container
{
    display: none;
    position: fixed;
    top: 58px;
    right: 0; /* Change from left to right */
    height: calc(100vh - 58px);
    background-color: var(--secondary-background-color);
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sidebar-menu-container ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar-menu-containerli 
{
    list-style: none;
    padding: 10px;
    margin: 0;
}

#sidebar-menu-container-toggle-button
{
    display: none;
    margin-right: 20px;
    right: 0;
    cursor: pointer;
}

/* Tablet size */
@media (max-width: 900px) 
{
    .header-right 
    {
      display: none;
    }

    #sidebar-menu-container-toggle-button
    {
      display: block;
    }

    #sidebar-menu-container 
    {
      display: none;
      width: 30vw;
    }

    .sidebar-right 
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      
    }

    .sidebar-left
    {
        display: none;
    }
}

/* Smartphone size */
@media (max-width: 600px) 
{
    #header-space-adjuster
    {
        display: flex;
        flex-grow: 1;
    }
    #sidebar-menu-container
    {
        width: 100vw;
    }

    .header-left
    {
      display: none;
    }

    .sidebar-left 
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
    }

    .sidebar-right {
      flex-direction: row;
      justify-content: center;
      flex-grow: 0;
    }

}
